// Цвета
$bg-primary: #0f172a;     // Глубокий темный фон
$bg-secondary: #1e293b;   // Цвет для карточек
$bg-secondary-main: #171b21;
$text-primary: #f8fafc;   // Основной белый текст
$text-secondary: #94a3b8; // Серый текст для описаний
$accent: #4f7cff;
$accent-caces: #a78bfa;         // (ссылки, кнопки)
$accent-hover: #0ea5e9;   // Цвет при наведении
$error: #ef4444;          // Ошибки
$success: #22c55e;        // Успех

// Настройки
$font-main: 'Inter', sans-serif;
$radius: 12px;
$transition: all 0.3s ease;